.button {
    background-color: #303030;
    color: white;
    padding: 15px 20px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

body {
    background-color: #111111;
    min-width: 175px;
}

input {
    width: 100px;
    margin: 10px 10px;
}

div {
    color: white;
    text-align: center;
    font-size: 15px;
}
